:root {
  font-size: 200%;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 50ch;
  padding: 1rem;
}

@property --thickness {
  syntax: '<length>';
  initial-value: 1px;
  inherits: true;
}

@property --frequency {
  syntax: '<length>';
  initial-value: 16px;
  inherits: true;
}

@property --color {
  syntax: '<color>';
  initial-value: black;
  inherits: true;
}

@property --amplitude {
  syntax: '<number>';
  initial-value: 0.5;
  inherits: true;
}

.spans span {
  --amplitude: 0.2;
  --frequency: 0.25em;
  --color: black;
  --thickness: 1px;
  background: paint(scribble);
}

.spans span span {
  visibility: hidden;
}
